<main class="content-area">
  <h2>新着記事一覧</h2>
  
  <div id="articles"></div>
  
</main>

<script src="https://drafity.pro/embed.js" data-api-key="40060623c8ac4c3a8d6bebaa681a5e23ceea59fd9e31cc78189b9b1b44896582"></script>