<main class="content-area">
  
  <div id="articles"></div>
  
</main>

<script src="https://drafity.pro/embed.js" data-api-key="32940269c74035987c36529bb7860e03ad258d98aed6018f69c91ae67af1124b"></script>